.header {
  display: flex;
}

.contact p {
  color: white;
}

.contact p:hover{
  text-decoration: underline;
  color: white;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container p {
  padding-top: 45px;
  padding-right: 30px;
}

.header .picto-admin {
  background-position:center;
  background-size:cover;
  width:30px;
  height:30px;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 30px;
}