.presentation {
  margin-top: 50px;
  background-color: rgba(130, 186, 173, 0.3);
  padding: 15px 0;
}

.personnal-presentation {
  margin-top: 100px;
}

.personnal-presentation .presentation-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-presentation {
  margin-top: 100px;
}

.projects-presentation .project-title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.sections-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-details {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .project-details {
    display: flex;
    flex-direction: column;
  }
  .projects-presentation {
    margin-top: 50px;
  }

}
