.presentation {
  margin-top: 50px;
  background-color: rgba(130, 186, 173, 0.3);
  padding: 15px 0;
}

.personnal-presentation {
  margin-top: 100px;
}

.personnal-presentation .presentation-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation-arrow, .project-arrow {
  background-position:center;
  background-size:cover;
  width:30px;
  height:30px;
  margin-left: 30px;
  transform: rotate(0deg);
  transition: all 0.4s ease-in-out;
}

.project-arrow.open-project, .presentation-arrow.open-presentation {
  transform: rotate(180deg);
}

.projects-presentation {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personnal-presentation .presentation-details.shown {
  background-color: rgba(130, 186, 173, 0.3);
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.personnal-presentation .presentation-details.hidden {
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
