.home-header {
  background-position:center;
  background-size:cover;
}

.home-header h1, .home-header h2 {
  color: white
}

.presentation {
  padding: 50px 0 130px 0;
}

.personnal-presentation {
  margin-top: 100px;
}

.personnal-presentation .presentation-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-presentation {
  margin-top: 100px;
}

.projects-presentation .project-title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.sections-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.presentation-details {
  display: flex;
  flex-direction: row;
}

.sub-section-presentation {
  margin: 0 15px;
  margin: 15px;
  width: 400px;
  border: 1px solid rgba(130, 186, 173, 0.3);
  padding: 15px;
}

.sub-section-presentation p {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .project-details {
    display: flex;
    flex-direction: column;
  }
  .projects-presentation {
    margin-top: 50px;
  }

  .presentation-details {
    display: flex;
    flex-direction: column;
  }

  .sub-section-presentation {
    margin: 0 15px;
    margin: 15px;
    width: 300px;
    border: 1px solid rgba(130, 186, 173, 0.3);
    padding: 15px;
  }
}
