.project-container {
  margin: 15px;
  width: 400px;
  border: 1px solid rgba(130, 186, 173, 0.3);
  padding: 15px;
}

.project-image {
  height: 150px;
  padding: 5px;
}

.image-container {
/*   background-color: rgba(130, 186, 173, 0.4); */
  width: 100%;
}

.project-container p {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  img.project-image {
    height: 150x;
    padding: 5px;
  }

  .project-container {
    width: 300px;
  }
}