.project-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.retour {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 20px;
}

.full-project-image {
  width: 100%;
}