.project-container {
  margin: 15px;
  width: 400px;
}

.project-image {
  height: 150px;
  background-color: rgba(130, 186, 173, 0.3);
  padding: 5px;
}

.project-container p {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  img.project-image {
    height: 150x;
    background-color: rgba(130, 186, 173, 0.3);
    padding: 5px;
  }

  .project-container {
    width: 300px;
  }
}