.project-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.retour-project {
  padding-top: 45px;
  padding-right: 30px;
  color: black !important ;
  font-weight: 300;
}

.retour-project:hover {
  text-decoration: underline;
}

.full-project-image {
  width: 100%;
}

.project-page h1, .project-page h2, .project-page h3, .project-page p, .project-page a {
  text-align: center;
}

.sections-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-section-project {
  margin: 0 15px;
  margin: 15px;
  width: 400px;
  border: 1px solid rgba(130, 186, 173, 0.3);
  padding: 15px;
}

.sub-section-project p {
  text-align: left;
}

/* HEADER */

.header-project {
  display: flex;
}

.contact-project p {
  color: black;
}

.contact-project p:hover {
  text-decoration: underline;
}

.header-container-project {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container-project p {
  padding-top: 45px;
  padding-right: 30px;
}

.header-project .picto-admin {
  background-position:center;
  background-size:cover;
  width:30px;
  height:30px;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .sections-project {
    flex-direction: column;
  }

  .sub-section-project {
    margin: 0 15px;
    margin: 15px;
    width: 300px;
    border: 1px solid rgba(130, 186, 173, 0.3);
    padding: 15px;
  }
}