.App {
  text-align: center;
}

body {
  background-color: white
}

h1, h2, h3, p, span {
  color: rgba(34, 129, 119);
}

a {
  text-decoration: none;
  color: rgba(34, 129, 119);
}

a:visited {
  text-decoration: none;
  color: rgba(34, 129, 119);
}

ul li {
  color: rgba(34, 129, 119);
  list-style-type: none;
  text-align: left;
}

ul {
  padding-inline-start: 0px;

}