.App {
  text-align: center;
}

body {
  background-color:rgba(85, 129, 119);
}

h1, h2, h3, p {
  color: white;
}

a {
  text-decoration: none;
  color: white
}

a:visited {
  text-decoration: none;
  color: white
}